# Project Title - change this

TODO - Write some introduction about your project here: describe the dataset, where you got it from, what you're trying to do with it, and which tools & techniques you're using. You can also mention about the course [Data Analysis with Python: Zero to Pandas](zerotopandas.com), and what you've learned from it.

In [1]:
# directory of datasets
data_dir = './csv_datasets'

In [2]:
import os
os.listdir(data_dir)

['player.csv', '.DS_Store', 'match.csv', 'eventadjacency.csv', 'event.csv']

Let us save and upload our work to Jovian before continuing.

In [3]:
project_name = "gsl-season-one-code-s"
project_file = 'gsl-season-one-code-s.ipynb'

In [4]:
%pip install jovian --upgrade -q

Note: you may need to restart the kernel to use updated packages.

In [5]:
import jovian

In [6]:
# jovian.commit(project=project_name, filename=project_file)

## Data Preparation and Cleaning

**TODO** - Write some explanation here.

> Instructions (delete this cell):
>
> - Load the dataset into a data frame using Pandas
> - Explore the number of rows & columns, ranges of values etc.
> - Handle missing, incorrect and invalid data
> - Perform any additional steps (parsing dates, creating additional columns, merging multiple dataset etc.)

In [7]:
import pandas as pd

In [8]:
# import raw data frames from csv
events_RDF = pd.read_csv(f'{data_dir}/event.csv')
eventadjacency_RDF = pd.read_csv(f'{data_dir}/eventadjacency.csv')
matches_RDF = pd.read_csv(f'{data_dir}/match.csv')
players_RDF = pd.read_csv(f'{data_dir}/player.csv')

In [9]:
# explore and clean events
events_RDF.drop(['id', 'lft', 'rgt', 'closed', 'big', 
                'noprint', 'lp_name', 'tlpd_id', 'tlpd_db', 
                'tl_thread', 'homepage'], axis=1, inplace=True)

events_RDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125344 entries, 0 to 125343
Data columns (total 11 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   name       125321 non-null  object
 1   parent_id  124166 non-null  float64
 2   fullname   125344 non-null  object
 3   prizepool  13032 non-null   object
 4   earliest   123468 non-null  object
 5   latest     123468 non-null  object
 6   category   245 non-null     object
 7   type       125344 non-null  object
 8   idx        125344 non-null  int64
 9   wcs_year   105 non-null     float64
 10  wcs_tier   105 non-null     float64
dtypes: float64(3), int64(1), object(7)
memory usage: 10.5+ MB

In [10]:
events_RDF.sample(5)

,name,parent_id,fullname,prizepool,earliest,latest,category,type,idx,wcs_year,wcs_tier
20791,Gravity-Flipsid3 vs. Team Ascension,43980.0,SHOUTcraft Clan Wars Season 2 Gravity-Flipsid3...,NaN,2015-07-11,2015-07-11,NaN,round,100904,NaN,NaN
78925,Ro4,66423.0,PLAYzone Saturday Cup HotS Season 1 #3 WB Ro4,NaN,2013-04-20,2013-04-20,NaN,round,77847,NaN,NaN
117238,Ro8,49553.0,OlimoLeague 2015 October Weekly #41 Ro8,NaN,2015-10-09,2015-10-09,NaN,round,72766,NaN,NaN
97818,#1,12923.0,XILENCE and Plantronics Cup HotS #1,f,2013-03-15,2013-03-15,NaN,event,123511,NaN,NaN
62170,ReG Gaming vs. Team ALTERNATE,29669.0,WardiTV Team League Season 2 Division 1 B Week...,NaN,2014-04-25,2014-04-25,NaN,round,112364,NaN,NaN

Taking a look at event adjacency, it looks like this might not be useful for us.

In [11]:
# explore and clean event adjacency
eventadjacency_RDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 591452 entries, 0 to 591451
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   id         591452 non-null  int64
 1   parent_id  591452 non-null  int64
 2   child_id   591452 non-null  int64
 3   distance   591452 non-null  int64
dtypes: int64(4)
memory usage: 18.0 MB

In [12]:
eventadjacency_RDF.sample(5)

            id  parent_id  child_id  distance
365435  687153       5791     81509         5
208198  520371      47667     47672         1
83059   378433      19632     19632         0
39123   345574      11927      3966         2
526567  851012     115306    116322         2

Lets keep exploring.

In [15]:
# explore and clean matches
matches_RDF.drop(['id', 'period_id', 'rca', 'rcb', 'treated', 'submitter_id'], axis=1, inplace=True)
matches_RDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 401961 entries, 0 to 401960
Data columns (total 11 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   date         401961 non-null  object
 1   pla_id       401961 non-null  int64
 2   plb_id       401961 non-null  int64
 3   sca          401961 non-null  int64
 4   scb          401961 non-null  int64
 5   event        35241 non-null   object
 6   eventobj_id  398957 non-null  float64
 7   game         401961 non-null  object
 8   offline      401961 non-null  object
 9   rta_id       383824 non-null  float64
 10  rtb_id       376194 non-null  float64
dtypes: float64(3), int64(4), object(4)
memory usage: 33.7+ MB

In [16]:
matches_RDF.sample(5)

,date,pla_id,plb_id,sca,scb,event,eventobj_id,game,offline,rta_id,rtb_id
309852,2013-09-15,145,242,0,2,NaN,20658.0,HotS,f,4883498.0,4883594.0
169945,2015-04-15,121,4167,2,0,NaN,43891.0,HotS,f,5299435.0,5303065.0
245115,2013-04-27,5102,229,0,2,NaN,29977.0,WoL,f,4941204.0,4823656.0
5490,2016-09-11,10927,10677,0,1,NaN,61481.0,LotV,f,5710853.0,5710622.0
113062,2021-06-05,317,23,0,3,NaN,122491.0,LotV,f,7705538.0,7705543.0

In [17]:
# explore and clean player
players_RDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21394 entries, 0 to 21393
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 21394 non-null  int64
 1   tag                21393 non-null  object
 2   name               4938 non-null   object
 3   birthday           759 non-null    object
 4   mcnum              5507 non-null   float64
 5   tlpd_id            2914 non-null   float64
 6   tlpd_db            7885 non-null   float64
 7   lp_name            706 non-null    object
 8   sc2e_id            450 non-null    float64
 9   country            19029 non-null  object
 10  race               21394 non-null  object
 11  dom_val            20551 non-null  float64
 12  dom_start_id       21299 non-null  float64
 13  dom_end_id         21299 non-null  float64
 14  current_rating_id  21288 non-null  float64
 15  romanized_name     1333 non-null   object
dtypes: float64(8), int64(1), object(7)
memory usage: 2.6+ MB

In [ ]:
import jovian

In [ ]:
jovian.commit()

## Exploratory Analysis and Visualization

**TODO** - write some explanation here.

> Instructions (delete this cell)
> 
> - Compute the mean, sum, range and other interesting statistics for numeric columns
> - Explore distributions of numeric columns using histograms etc.
> - Explore relationship between columns using scatter plots, bar charts etc.
> - Make a note of interesting insights from the exploratory analysis

Let's begin by importing`matplotlib.pyplot` and `seaborn`.

In [ ]:
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

sns.set_style('darkgrid')
matplotlib.rcParams['font.size'] = 14
matplotlib.rcParams['figure.figsize'] = (9, 5)
matplotlib.rcParams['figure.facecolor'] = '#00000000'

**TODO** - Explore one or more columns by plotting a graph below, and add some explanation about it

**TODO** - Explore one or more columns by plotting a graph below, and add some explanation about it

**TODO** - Explore one or more columns by plotting a graph below, and add some explanation about it

**TODO** - Explore one or more columns by plotting a graph below, and add some explanation about it

**TODO** - Explore one or more columns by plotting a graph below, and add some explanation about it

Let us save and upload our work to Jovian before continuing

In [ ]:
import jovian

In [ ]:
jovian.commit()

## Asking and Answering Questions

TODO - write some explanation here.

> Instructions (delete this cell)
>
> - Ask at least 5 interesting questions about your dataset
> - Answer the questions either by computing the results using Numpy/Pandas or by plotting graphs using Matplotlib/Seaborn
> - Create new columns, merge multiple dataset and perform grouping/aggregation wherever necessary
> - Wherever you're using a library function from Pandas/Numpy/Matplotlib etc. explain briefly what it does

#### Q1: TODO - ask a question here and answer it below

#### Q2: TODO - ask a question here and answer it below

#### Q3: TODO - ask a question here and answer it below

#### Q4: TODO - ask a question here and answer it below

#### Q5: TODO - ask a question here and answer it below

Let us save and upload our work to Jovian before continuing.

In [ ]:
import jovian

In [ ]:
jovian.commit()

## Inferences and Conclusion

**TODO** - Write some explanation here: a summary of all the inferences drawn from the analysis, and any conclusions you may have drawn by answering various questions.

In [ ]:
import jovian

In [ ]:
jovian.commit()

## References and Future Work

**TODO** - Write some explanation here: ideas for future projects using this dataset, and links to resources you found useful.

> Submission Instructions (delete this cell)
> 
> - Upload your notebook to your Jovian.ml profile using `jovian.commit`.
> - **Make a submission here**: https://jovian.ml/learn/data-analysis-with-python-zero-to-pandas/assignment/course-project
> - Share your work on the forum: https://jovian.ml/forum/t/course-project-on-exploratory-data-analysis-discuss-and-share-your-work/11684
> - Share your work on social media (Twitter, LinkedIn, Telegram etc.) and tag [@JovianML](https://twitter.com/jovianml)
>
> (Optional) Write a blog post
> 
> - A blog post is a great way to present and showcase your work.  
> - Sign up on [Medium.com](https://medium.com) to write a blog post for your project.
> - Copy over the explanations from your Jupyter notebook into your blog post, and [embed code cells & outputs](https://medium.com/jovianml/share-and-embed-jupyter-notebooks-online-with-jovian-ml-df709a03064e)
> - Check out the Jovian.ml Medium publication for inspiration: https://medium.com/jovianml

In [ ]:
import jovian

In [ ]:
jovian.commit()