# Project Title - change this

TODO - Write some introduction about your project here: describe the dataset, where you got it from, what you're trying to do with it, and which tools & techniques you're using. You can also mention about the course [Data Analysis with Python: Zero to Pandas](zerotopandas.com), and what you've learned from it.

In [1]:
# directory of datasets
data_dir = './csv_datasets'

In [2]:
import os
os.listdir(data_dir)

['player.csv', '.DS_Store', 'match.csv', 'eventadjacency.csv', 'event.csv']

Let us save and upload our work to Jovian before continuing.

In [3]:
project_name = "gsl-season-one-code-s"
project_file = 'gsl-season-one-code-s.ipynb'

In [4]:
%pip install jovian --upgrade -q

Note: you may need to restart the kernel to use updated packages.

In [5]:
import jovian

In [6]:
# jovian.commit(project=project_name, filename=project_file)

## Data Preparation and Cleaning

**TODO** - Write some explanation here.

> Instructions (delete this cell):
>
> - Load the dataset into a data frame using Pandas
> - Explore the number of rows & columns, ranges of values etc.
> - Handle missing, incorrect and invalid data
> - Perform any additional steps (parsing dates, creating additional columns, merging multiple dataset etc.)

In [7]:
import pandas as pd

In [8]:
# import raw data frames from csv
events_RDF = pd.read_csv(f'{data_dir}/event.csv')
eventadjacency_RDF = pd.read_csv(f'{data_dir}/eventadjacency.csv')
matches_RDF = pd.read_csv(f'{data_dir}/match.csv')
players_RDF = pd.read_csv(f'{data_dir}/player.csv')

In [9]:
# explore and clean events
events_RDF.drop(['lft', 'rgt', 'closed', 'big', 
                'noprint', 'lp_name', 'tlpd_id', 'tlpd_db', 
                'tl_thread', 'homepage'], axis=1, inplace=True)

events_RDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125344 entries, 0 to 125343
Data columns (total 12 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   id         125344 non-null  int64
 1   name       125321 non-null  object
 2   parent_id  124166 non-null  float64
 3   fullname   125344 non-null  object
 4   prizepool  13032 non-null   object
 5   earliest   123468 non-null  object
 6   latest     123468 non-null  object
 7   category   245 non-null     object
 8   type       125344 non-null  object
 9   idx        125344 non-null  int64
 10  wcs_year   105 non-null     float64
 11  wcs_tier   105 non-null     float64
dtypes: float64(3), int64(2), object(7)
memory usage: 11.5+ MB

In [10]:
events_RDF.sample(5)

,id,name,parent_id,fullname,prizepool,earliest,latest,category,type,idx,wcs_year,wcs_tier
21007,95516,Group D,95335.0,StarLine League Junior #1 Group Stage 2 Group D,NaN,2019-04-08,2019-04-08,NaN,round,103558,NaN,NaN
112380,80046,Forged Force Gaming vs 3D Clan,79962.0,WardiTV Team League Season 8 Open Group Stage ...,NaN,2018-03-11,2018-03-11,NaN,round,113158,NaN,NaN
50790,54214,Ro8,54204.0,E-Sport SM 2016 1st Event Online Qualifiers #2...,NaN,2016-02-24,2016-02-24,NaN,round,33745,NaN,NaN
22308,105842,Ro8,105839.0,zukaCup #2 Ro8,NaN,2020-02-15,2020-02-15,NaN,round,125319,NaN,NaN
109955,67535,Round 6,67523.0,ESL ANZ Cup 2017 March LB Round 6,NaN,2017-03-18,2017-03-18,NaN,round,29046,NaN,NaN

Taking a look at event adjacency, it looks like this might not be useful for us.

In [11]:
# explore and clean event adjacency
eventadjacency_RDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 591452 entries, 0 to 591451
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   id         591452 non-null  int64
 1   parent_id  591452 non-null  int64
 2   child_id   591452 non-null  int64
 3   distance   591452 non-null  int64
dtypes: int64(4)
memory usage: 18.0 MB

In [12]:
eventadjacency_RDF.sample(5)

            id  parent_id  child_id  distance
287136  604625      64858     54454         4
303531  621966      66124     67837         2
406263  729099      90807     90807         0
323574  643389         30     72239         5
59273   366796       4147      4214         4

Lets keep exploring.

In [13]:
# explore and clean matches
matches_RDF.drop(['id', 'period_id', 'rca', 'rcb', 'treated', 'submitter_id'], axis=1, inplace=True)
matches_RDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 401961 entries, 0 to 401960
Data columns (total 11 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   date         401961 non-null  object
 1   pla_id       401961 non-null  int64
 2   plb_id       401961 non-null  int64
 3   sca          401961 non-null  int64
 4   scb          401961 non-null  int64
 5   event        35241 non-null   object
 6   eventobj_id  398957 non-null  float64
 7   game         401961 non-null  object
 8   offline      401961 non-null  object
 9   rta_id       383824 non-null  float64
 10  rtb_id       376194 non-null  float64
dtypes: float64(3), int64(4), object(4)
memory usage: 33.7+ MB

In [14]:
matches_RDF.sample(5)

,date,pla_id,plb_id,sca,scb,event,eventobj_id,game,offline,rta_id,rtb_id
100136,2022-01-10,20847,22387,0,2,NaN,127905.0,LotV,f,8035363.0,8036014.0
162482,2015-02-09,2517,6052,2,0,NaN,40716.0,HotS,f,5255144.0,5258246.0
240081,2013-03-19,1906,3427,1,0,NaN,23083.0,HotS,f,4810798.0,4812222.0
206981,2015-12-05,8575,1058,0,1,NaN,53124.0,LotV,f,5479943.0,5473445.0
82007,2018-05-12,15780,5380,1,0,NaN,82746.0,LotV,f,6294659.0,6285548.0

In [15]:
# explore and clean player
players_RDF.drop(['id', 'birthday', 'mcnum', 'tlpd_id', 
                  'tlpd_db', 'dom_val', 'dom_start_id', 
                  'dom_end_id', 'lp_name', 'sc2e_id'], axis=1, inplace=True)
players_RDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21394 entries, 0 to 21393
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   tag                21393 non-null  object
 1   name               4938 non-null   object
 2   country            19029 non-null  object
 3   race               21394 non-null  object
 4   current_rating_id  21288 non-null  float64
 5   romanized_name     1333 non-null   object
dtypes: float64(1), object(5)
memory usage: 1003.0+ KB

In [16]:
players_RDF.sample(5)

,tag,name,country,race,current_rating_id,romanized_name
348,Matume,NaN,CZ,T,8209514.0,NaN
19349,poi,NaN,CN,P,8216472.0,NaN
9615,GuitarKing,NaN,LT,P,8228315.0,NaN
14056,Flood,Thomas Brenner,CA,Z,8207874.0,NaN
11474,McNel,NaN,NaN,R,8224436.0,NaN

# In the next few cells, build the GSL dataframe.

In [17]:
# figure out the string that needs to be used to identify tournament
code_s = []
for event in events_RDF.fullname:
    if 'GSL 2022 Season 1 Code S' in event:
        print(event)

GSL 2022 Season 1 Code S Group Stage 1 Group B
GSL 2022 Season 1 Code S Group Stage 1 Group C
GSL 2022 Season 1 Code S Playoffs Ro4
GSL 2022 Season 1 Code S Playoffs Final
GSL 2022 Season 1 Code S
GSL 2022 Season 1 Code S Playoffs
GSL 2022 Season 1 Code S Group Stage 2 Group B
GSL 2022 Season 1 Code S Round of 6 Decider Match
GSL 2022 Season 1 Code S Group Stage 1
GSL 2022 Season 1 Code S Round of 6
GSL 2022 Season 1 Code S Group Stage 2 Group A
GSL 2022 Season 1 Code S Round of 6 2nd vs 2nd
GSL 2022 Season 1 Code S Group Stage 1 Group E
GSL 2022 Season 1 Code S Round of 6 3rd vs 3rd
GSL 2022 Season 1 Code S Group Stage 2
GSL 2022 Season 1 Code S Group Stage 1 Group A
GSL 2022 Season 1 Code S Group Stage 1 Group D

In [18]:
# remove all events that are not GSL 2022 S1 Code S
events_RDF['fullname_str'] = events_RDF['fullname'].map(str)  # needed to convert fullnames into strings, as they were not
events_RDF = events_RDF[events_RDF['fullname'].str.contains('GSL 2022 Season 1 Code S')]

In [20]:
events_RDF

,id,name,parent_id,fullname,prizepool,earliest,latest,category,type,idx,wcs_year,wcs_tier,fullname_str
3548,129206,Group B,129201.0,GSL 2022 Season 1 Code S Group Stage 1 Group B,NaN,2022-03-24,2022-03-24,NaN,round,50704,NaN,NaN,GSL 2022 Season 1 Code S Group Stage 1 Group B
15853,129207,Group C,129201.0,GSL 2022 Season 1 Code S Group Stage 1 Group C,NaN,2022-03-28,2022-03-28,NaN,round,50705,NaN,NaN,GSL 2022 Season 1 Code S Group Stage 1 Group C
19159,130080,Ro4,129204.0,GSL 2022 Season 1 Code S Playoffs Ro4,NaN,2022-04-28,2022-04-28,NaN,round,50716,NaN,NaN,GSL 2022 Season 1 Code S Playoffs Ro4
19175,130081,Final,129204.0,GSL 2022 Season 1 Code S Playoffs Final,NaN,NaN,NaN,NaN,round,50717,NaN,NaN,GSL 2022 Season 1 Code S Playoffs Final
22386,128736,Code S,128734.0,GSL 2022 Season 1 Code S,t,2022-03-21,2022-04-28,NaN,event,50701,NaN,NaN,GSL 2022 Season 1 Code S
27070,129204,Playoffs,128736.0,GSL 2022 Season 1 Code S Playoffs,NaN,2022-04-28,2022-04-28,NaN,round,50715,NaN,NaN,GSL 2022 Season 1 Code S Playoffs
42036,129635,Group B,129202.0,GSL 2022 Season 1 Code S Group Stage 2 Group B,NaN,2022-04-14,2022-04-21,NaN,round,50710,NaN,NaN,GSL 2022 Season 1 Code S Group Stage 2 Group B
49301,130013,Decider Match,129203.0,GSL 2022 Season 1 Code S Round of 6 Decider Match,NaN,2022-04-25,2022-04-25,NaN,round,50714,NaN,NaN,GSL 2022 Season 1 Code S Round of 6 Decider Match
56755,129201,Group Stage 1,128736.0,GSL 2022 Season 1 Code S Group Stage 1,NaN,2022-03-21,2022-04-04,NaN,round,50702,NaN,NaN,GSL 2022 Season 1 Code S Group Stage 1
60896,129203,Round of 6,128736.0,GSL 2022 Season 1 Code S Round of 6,NaN,2022-04-25,2022-04-25,NaN,round,50711,NaN,NaN,GSL 2022 Season 1 Code S Round of 6
61422,129634,Group A,129202.0,GSL 2022 Season 1 Code S Group Stage 2 Group A,NaN,2022-04-11,2022-04-18,NaN,round,50709,NaN,NaN,GSL 2022 Season 1 Code S Group Stage 2 Group A
61555,130011,2nd vs 2nd,129203.0,GSL 2022 Season 1 Code S Round of 6 2nd vs 2nd,NaN,2022-04-25,2022-04-25,NaN,round,50712,NaN,NaN,GSL 2022 Season 1 Code S Round of 6 2nd vs 2nd
95635,129209,Group E,129201.0,GSL 2022 Season 1 Code S Group Stage 1 Group E,NaN,2022-04-04,2022-04-04,NaN,round,50707,NaN,NaN,GSL 2022 Season 1 Code S Group Stage 1 Group E
98165,130012,3rd vs 3rd,129203.0,GSL 2022 Season 1 Code S Round of 6 3rd vs 3rd,NaN,2022-04-25,2022-04-25,NaN,round,50713,NaN,NaN,GSL 2022 Season 1 Code S Round of 6 3rd vs 3rd
105843,129202,Group Stage 2,128736.0,GSL 2022 Season 1 Code S Group Stage 2,NaN,2022-04-11,2022-04-21,NaN,round,50708,NaN,NaN,GSL 2022 Season 1 Code S Group Stage 2
108202,129205,Group A,129201.0,GSL 2022 Season 1 Code S Group Stage 1 Group A,NaN,2022-03-21,2022-03-21,NaN,round,50703,NaN,NaN,GSL 2022 Season 1 Code S Group Stage 1 Group A
116822,129208,Group D,129201.0,GSL 2022 Season 1 Code S Group Stage 1 Group D,NaN,2022-03-31,2022-03-31,NaN,round,50706,NaN,NaN,GSL 2022 Season 1 Code S Group Stage 1 Group D

In [22]:
matches_RDF

,date,pla_id,plb_id,sca,scb,event,eventobj_id,game,offline,rta_id,rtb_id
0,2016-07-24,422,2102,3,1,NaN,59979.0,LotV,t,5666026.0,5667543.0
1,2016-07-31,962,12662,1,0,NaN,60184.0,LotV,f,5666535.0,5676810.0
2,2016-07-25,61,4551,0,2,NaN,60005.0,LotV,f,5665673.0,5669668.0
3,2010-03-13,208,1218,4,2,NaN,7311.0,WoL,f,NaN,1370384.0
4,2016-08-01,1100,10298,2,1,NaN,60235.0,LotV,f,5666661.0,5674632.0
...,...,...,...,...,...,...,...,...,...,...,...
401956,2020-05-29,68,20275,2,1,NaN,109833.0,LotV,f,7180448.0,7180509.0
401957,2020-05-29,4134,1652,1,2,NaN,109833.0,LotV,f,7177379.0,7177365.0
401958,2020-05-29,229,13223,2,1,NaN,109833.0,LotV,f,7169496.0,7180666.0
401959,2020-05-29,422,13890,2,0,NaN,109833.0,LotV,f,7169511.0,7177439.0
401960,2020-05-29,2566,20915,2,0,NaN,109833.0,LotV,f,7180438.0,7206656.0

In [ ]:
import jovian

In [ ]:
jovian.commit()

## Exploratory Analysis and Visualization

**TODO** - write some explanation here.

> Instructions (delete this cell)
> 
> - Compute the mean, sum, range and other interesting statistics for numeric columns
> - Explore distributions of numeric columns using histograms etc.
> - Explore relationship between columns using scatter plots, bar charts etc.
> - Make a note of interesting insights from the exploratory analysis

Let's begin by importing`matplotlib.pyplot` and `seaborn`.

In [ ]:
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

sns.set_style('darkgrid')
matplotlib.rcParams['font.size'] = 14
matplotlib.rcParams['figure.figsize'] = (9, 5)
matplotlib.rcParams['figure.facecolor'] = '#00000000'

**TODO** - Explore one or more columns by plotting a graph below, and add some explanation about it

**TODO** - Explore one or more columns by plotting a graph below, and add some explanation about it

**TODO** - Explore one or more columns by plotting a graph below, and add some explanation about it

**TODO** - Explore one or more columns by plotting a graph below, and add some explanation about it

**TODO** - Explore one or more columns by plotting a graph below, and add some explanation about it

Let us save and upload our work to Jovian before continuing

In [ ]:
import jovian

In [ ]:
jovian.commit()

## Asking and Answering Questions

TODO - write some explanation here.

> Instructions (delete this cell)
>
> - Ask at least 5 interesting questions about your dataset
> - Answer the questions either by computing the results using Numpy/Pandas or by plotting graphs using Matplotlib/Seaborn
> - Create new columns, merge multiple dataset and perform grouping/aggregation wherever necessary
> - Wherever you're using a library function from Pandas/Numpy/Matplotlib etc. explain briefly what it does

#### Q1: TODO - ask a question here and answer it below

#### Q2: TODO - ask a question here and answer it below

#### Q3: TODO - ask a question here and answer it below

#### Q4: TODO - ask a question here and answer it below

#### Q5: TODO - ask a question here and answer it below

Let us save and upload our work to Jovian before continuing.

In [ ]:
import jovian

In [ ]:
jovian.commit()

## Inferences and Conclusion

**TODO** - Write some explanation here: a summary of all the inferences drawn from the analysis, and any conclusions you may have drawn by answering various questions.

In [ ]:
import jovian

In [ ]:
jovian.commit()

## References and Future Work

**TODO** - Write some explanation here: ideas for future projects using this dataset, and links to resources you found useful.

> Submission Instructions (delete this cell)
> 
> - Upload your notebook to your Jovian.ml profile using `jovian.commit`.
> - **Make a submission here**: https://jovian.ml/learn/data-analysis-with-python-zero-to-pandas/assignment/course-project
> - Share your work on the forum: https://jovian.ml/forum/t/course-project-on-exploratory-data-analysis-discuss-and-share-your-work/11684
> - Share your work on social media (Twitter, LinkedIn, Telegram etc.) and tag [@JovianML](https://twitter.com/jovianml)
>
> (Optional) Write a blog post
> 
> - A blog post is a great way to present and showcase your work.  
> - Sign up on [Medium.com](https://medium.com) to write a blog post for your project.
> - Copy over the explanations from your Jupyter notebook into your blog post, and [embed code cells & outputs](https://medium.com/jovianml/share-and-embed-jupyter-notebooks-online-with-jovian-ml-df709a03064e)
> - Check out the Jovian.ml Medium publication for inspiration: https://medium.com/jovianml

In [ ]:
import jovian

In [ ]:
jovian.commit()