# Project Title - change this

TODO - Write some introduction about your project here: describe the dataset, where you got it from, what you're trying to do with it, and which tools & techniques you're using. You can also mention about the course [Data Analysis with Python: Zero to Pandas](zerotopandas.com), and what you've learned from it.

In [1]:
# directory of datasets
data_dir = './csv_datasets'

In [2]:
import os
os.listdir(data_dir)

['player.csv', '.DS_Store', 'match.csv', 'eventadjacency.csv', 'event.csv']

Let us save and upload our work to Jovian before continuing.

In [3]:
project_name = "gsl-season-one-code-s"
project_file = 'gsl-season-one-code-s.ipynb'

In [4]:
%pip install jovian --upgrade -q

Note: you may need to restart the kernel to use updated packages.

In [5]:
import jovian

In [6]:
# jovian.commit(project=project_name, filename=project_file)

## Data Preparation and Cleaning

**TODO** - Write some explanation here.

> Instructions (delete this cell):
>
> - Load the dataset into a data frame using Pandas
> - Explore the number of rows & columns, ranges of values etc.
> - Handle missing, incorrect and invalid data
> - Perform any additional steps (parsing dates, creating additional columns, merging multiple dataset etc.)

In [7]:
import pandas as pd

In [8]:
# import raw data frames from csv
events_RDF = pd.read_csv(f'{data_dir}/event.csv')
eventadjacency_RDF = pd.read_csv(f'{data_dir}/eventadjacency.csv')
matches_RDF = pd.read_csv(f'{data_dir}/match.csv')
players_RDF = pd.read_csv(f'{data_dir}/player.csv')

In [9]:
# explore and clean events
events_RDF.drop(['lft', 'rgt', 'closed', 'big', 
                'noprint', 'lp_name', 'tlpd_id', 'tlpd_db', 
                'tl_thread', 'homepage'], axis=1, inplace=True)

events_RDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125344 entries, 0 to 125343
Data columns (total 12 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   id         125344 non-null  int64
 1   name       125321 non-null  object
 2   parent_id  124166 non-null  float64
 3   fullname   125344 non-null  object
 4   prizepool  13032 non-null   object
 5   earliest   123468 non-null  object
 6   latest     123468 non-null  object
 7   category   245 non-null     object
 8   type       125344 non-null  object
 9   idx        125344 non-null  int64
 10  wcs_year   105 non-null     float64
 11  wcs_tier   105 non-null     float64
dtypes: float64(3), int64(2), object(7)
memory usage: 11.5+ MB

In [10]:
events_RDF.sample(5)

,id,name,parent_id,fullname,prizepool,earliest,latest,category,type,idx,wcs_year,wcs_tier
37778,97687,Ro16,97686.0,Legacy Weekly Japan #171 Ro16,NaN,2019-06-02,2019-06-02,NaN,round,62584,NaN,NaN
28276,108651,Quaranteams,105522.0,UKSC2 League Quaranteams,NaN,2020-04-13,2020-04-27,NaN,event,110034,NaN,NaN
21818,121371,#108,78024.0,Sentimiento Latino #108,t,2021-04-30,2021-04-30,NaN,event,100593,NaN,NaN
94050,122288,Ro4,122285.0,CSO Cup #19 Ro4,NaN,2021-05-29,2021-05-29,NaN,round,19739,NaN,NaN
65475,91307,Group Stage,91298.0,WardiTV 2018 Has Left the Game Korean Server G...,NaN,2018-12-01,2018-12-09,NaN,round,113822,NaN,NaN

Taking a look at event adjacency, it looks like this might not be useful for us.

In [11]:
# explore and clean event adjacency
eventadjacency_RDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 591452 entries, 0 to 591451
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   id         591452 non-null  int64
 1   parent_id  591452 non-null  int64
 2   child_id   591452 non-null  int64
 3   distance   591452 non-null  int64
dtypes: int64(4)
memory usage: 18.0 MB

In [12]:
eventadjacency_RDF.sample(5)

            id  parent_id  child_id  distance
475696  799486     104760    105574         1
166127  475110      39098     39275         2
418595  741692      56997     93426         3
306715  625444         30     68566         5
236740  550997         30     53746         5

Lets keep exploring.

In [13]:
# explore and clean matches
matches_RDF.drop(['id', 'period_id', 'rca', 'rcb', 'treated', 'submitter_id'], axis=1, inplace=True)
matches_RDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 401961 entries, 0 to 401960
Data columns (total 11 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   date         401961 non-null  object
 1   pla_id       401961 non-null  int64
 2   plb_id       401961 non-null  int64
 3   sca          401961 non-null  int64
 4   scb          401961 non-null  int64
 5   event        35241 non-null   object
 6   eventobj_id  398957 non-null  float64
 7   game         401961 non-null  object
 8   offline      401961 non-null  object
 9   rta_id       383824 non-null  float64
 10  rtb_id       376194 non-null  float64
dtypes: float64(3), int64(4), object(4)
memory usage: 33.7+ MB

In [14]:
matches_RDF.sample(5)

,date,pla_id,plb_id,sca,scb,event,eventobj_id,game,offline,rta_id,rtb_id
274244,2012-03-29,758,366,1,2,NaN,5118.0,WoL,f,4682384.0,4682050.0
11847,2018-01-05,106,4105,2,0,NaN,77610.0,LotV,f,6153171.0,6156696.0
132270,2020-05-18,13361,177,0,2,NaN,109477.0,LotV,f,7155826.0,7153848.0
197897,2020-12-09,7507,15254,0,2,NaN,116930.0,LotV,f,7444948.0,7457607.0
204675,2019-06-01,1652,184,0,2,NaN,97553.0,LotV,f,6712769.0,6711438.0

In [15]:
# explore and clean player
players_RDF.drop(['birthday', 'mcnum', 'tlpd_id', 
                  'tlpd_db', 'dom_val', 'dom_start_id', 
                  'dom_end_id', 'lp_name', 'sc2e_id'], axis=1, inplace=True)
players_RDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21394 entries, 0 to 21393
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 21394 non-null  int64
 1   tag                21393 non-null  object
 2   name               4938 non-null   object
 3   country            19029 non-null  object
 4   race               21394 non-null  object
 5   current_rating_id  21288 non-null  float64
 6   romanized_name     1333 non-null   object
dtypes: float64(1), int64(1), object(5)
memory usage: 1.1+ MB

In [16]:
players_RDF.sample(5)

          id     tag name country race  current_rating_id romanized_name
17965  18865  Kaplan  NaN     NaN    R          8223338.0            NaN
10512  22627     JKa  NaN      PE    R          8217377.0            NaN
20537  13741   AGTMR  NaN      PE    P          8210445.0            NaN
17395   8700     하동진  NaN      KR    T          8209177.0            NaN
7212   10943    MorN  NaN      US    T          8223099.0            NaN

# In the next few cells, build the GSL dataframe.

In [17]:
# merge matches with their respective event
events_RDF.rename(columns={'id': 'eventobj_id'}, inplace=True)

mergedevents_RDF = pd.merge(events_RDF, matches_RDF, on='eventobj_id')
mergedevents_RDF.sample(5)

,eventobj_id,name,parent_id,fullname,prizepool,earliest,latest,category,type,idx,...,date,pla_id,plb_id,sca,scb,event,game,offline,rta_id,rtb_id
330600,104988,Ro64,104977.0,ESL Open Cup Americas #2 Ro64,NaN,2020-01-19,2020-01-19,NaN,round,30848,...,2020-01-19,19376,19897,2,0,NaN,LotV,f,7015714.0,NaN
159714,41226,Ro16,41220.0,WCS 2012 Europe Nationals Norway Qualifiers #1...,NaN,2013-07-02,2013-07-02,NaN,round,116052,...,2013-07-02,2169,4284,0,2,NaN,HotS,f,4850086.0,4852078.0
246848,101931,Ro8,101928.0,SCVRush LotV EU Open #185 Ro8,NaN,2019-10-08,2019-10-08,NaN,round,97762,...,2019-10-08,9025,19552,2,0,NaN,LotV,f,6867341.0,NaN
27626,120495,Ro128,120493.0,ESL Open Cup Europe #65 Ro128,NaN,2021-04-05,2021-04-05,NaN,round,30378,...,2021-04-05,18651,966,2,0,NaN,LotV,f,7612891.0,7618520.0
224236,58556,Ro16,57288.0,Copa America 2016 Season 3 Qualifiers #4 Ro16,NaN,2016-06-14,2016-06-14,NaN,round,16598,...,2016-06-14,7555,1263,1,2,NaN,LotV,f,5636843.0,5631454.0

In [18]:
# figure out the string that needs to be used to identify tournament
code_s = []
for event in events_RDF.fullname:
    if 'GSL 2022 Season 1 Code S' in event:
        print(event)

GSL 2022 Season 1 Code S Group Stage 1 Group B
GSL 2022 Season 1 Code S Group Stage 1 Group C
GSL 2022 Season 1 Code S Playoffs Ro4
GSL 2022 Season 1 Code S Playoffs Final
GSL 2022 Season 1 Code S
GSL 2022 Season 1 Code S Playoffs
GSL 2022 Season 1 Code S Group Stage 2 Group B
GSL 2022 Season 1 Code S Round of 6 Decider Match
GSL 2022 Season 1 Code S Group Stage 1
GSL 2022 Season 1 Code S Round of 6
GSL 2022 Season 1 Code S Group Stage 2 Group A
GSL 2022 Season 1 Code S Round of 6 2nd vs 2nd
GSL 2022 Season 1 Code S Group Stage 1 Group E
GSL 2022 Season 1 Code S Round of 6 3rd vs 3rd
GSL 2022 Season 1 Code S Group Stage 2
GSL 2022 Season 1 Code S Group Stage 1 Group A
GSL 2022 Season 1 Code S Group Stage 1 Group D

In [19]:
# remove all events that are not GSL 2022 S1 Code S
mergedevents_RDF = mergedevents_RDF[mergedevents_RDF['fullname'].str.contains('GSL 2022 Season 1 Code S')]

In [30]:
mergedevents_RDF.sample(3)

,eventobj_id,name,parent_id,fullname,prizepool,earliest,latest,category,type,idx,...,date,pla_id,plb_id,sca,scb,event,game,offline,rta_id,rtb_id
133938,129635,Group B,129202.0,GSL 2022 Season 1 Code S Group Stage 2 Group B,NaN,2022-04-14,2022-04-21,NaN,round,50710,...,2022-04-21,2,76,0,2,NaN,LotV,t,8202010.0,8186088.0
196402,129634,Group A,129202.0,GSL 2022 Season 1 Code S Group Stage 2 Group A,NaN,2022-04-11,2022-04-18,NaN,round,50709,...,2022-04-18,47,1662,1,2,NaN,LotV,t,8175569.0,8182533.0
373333,129208,Group D,129201.0,GSL 2022 Season 1 Code S Group Stage 1 Group D,NaN,2022-03-31,2022-03-31,NaN,round,50706,...,2022-03-31,2,1793,2,1,NaN,LotV,t,8144150.0,8155454.0

In [26]:
# attach players
playera = players_RDF.rename(columns={'id': 'pla_id'})
playerb = players_RDF.rename(columns={'id': 'plb_id'})
mergedeventsplayers_RDF = pd.merge(playera, mergedevents_RDF, on='pla_id')
mergedeventsplayers_RDF = pd.merge(playerb, mergedevents_RDF, on='plb_id')

In [28]:
mergedeventsplayers_RDF.sample(10)

,plb_id,tag,name_x,country,race,current_rating_id,romanized_name,eventobj_id,name_y,parent_id,...,wcs_tier,date,pla_id,sca,scb,event,game,offline,rta_id,rtb_id
43,1517,Bunny,이재선,KR,T,8228410.0,Lee Jae Sun,129209,Group E,129201.0,...,NaN,2022-04-04,1665,2,0,NaN,LotV,t,8157155.0,8157154.0
18,233,herO,김준호,KR,P,8228406.0,Kim Joon Ho,129209,Group E,129201.0,...,NaN,2022-04-04,1665,1,2,NaN,LotV,t,8157155.0,8157153.0
35,2566,Armani,박진혁,KR,Z,8207378.0,Park Jin Hyuk,129206,Group B,129201.0,...,NaN,2022-03-24,1658,2,0,NaN,LotV,t,8144821.0,8160518.0
7,1662,Rogue,이병렬,KR,Z,8228308.0,Lee Byung Ryul,129634,Group A,129202.0,...,NaN,2022-04-18,177,2,1,NaN,LotV,t,8182532.0,8182533.0
24,35,Ryung,김동원,KR,T,8207374.0,Kim Dong Won,129634,Group A,129202.0,...,NaN,2022-04-11,47,1,2,NaN,LotV,t,8175569.0,8175549.0
0,1793,Solar,강민수,KR,Z,8228417.0,Kang Min Soo,129208,Group D,129201.0,...,NaN,2022-03-31,2,2,1,NaN,LotV,t,8144150.0,8155454.0
37,2,Creator,장현우,KR,P,8228419.0,Jang Hyun Woo,130011,2nd vs 2nd,129203.0,...,NaN,2022-04-25,1662,3,1,NaN,LotV,t,8186087.0,8202010.0
33,186,Classic,김도우,KR,P,8207386.0,Kim Doh Woo,129205,Group A,129201.0,...,NaN,2022-03-21,4,2,1,NaN,LotV,t,8133139.0,8135507.0
46,49,Maru,조성주,KR,T,8228293.0,Cho Seong Ju,129206,Group B,129201.0,...,NaN,2022-03-24,35,0,2,NaN,LotV,t,8161629.0,8144823.0
15,233,herO,김준호,KR,P,8228406.0,Kim Joon Ho,129635,Group B,129202.0,...,NaN,2022-04-14,4,2,1,NaN,LotV,t,8164883.0,8182480.0

In [29]:
mergedeventsplayers_RDF.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50 entries, 0 to 49
Data columns (total 28 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   plb_id             50 non-null     int64
 1   tag                50 non-null     object
 2   name_x             50 non-null     object
 3   country            50 non-null     object
 4   race               50 non-null     object
 5   current_rating_id  50 non-null     float64
 6   romanized_name     50 non-null     object
 7   eventobj_id        50 non-null     int64
 8   name_y             50 non-null     object
 9   parent_id          50 non-null     float64
 10  fullname           50 non-null     object
 11  prizepool          0 non-null      object
 12  earliest           50 non-null     object
 13  latest             50 non-null     object
 14  category           0 non-null      object
 15  type               50 non-null     object
 16  idx                50 non-null     int64
 17  wcs_year           0 non-null      float64
 18  wcs_tier           0 non-null      float64
 19  date               50 non-null     object
 20  pla_id             50 non-null     int64
 21  sca                50 non-null     int64
 22  scb                50 non-null     int64
 23  event              0 non-null      object
 24  game               50 non-null     object
 25  offline            50 non-null     object
 26  rta_id             50 non-null     float64
 27  rtb_id             50 non-null     float64
dtypes: float64(6), int64(6), object(16)
memory usage: 11.3+ KB

In [32]:
GSLCS_DF = mergedeventsplayers_RDF.drop(['plb_id', 'country', 'parent_id', 'prizepool', 'category', 'type', 'idx', 'wcs_year', 'wcs_tier', 'pla_id', 'game', 'offline'], axis=1)

In [33]:
GSLCS_DF.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50 entries, 0 to 49
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   tag                50 non-null     object
 1   name_x             50 non-null     object
 2   race               50 non-null     object
 3   current_rating_id  50 non-null     float64
 4   romanized_name     50 non-null     object
 5   eventobj_id        50 non-null     int64
 6   name_y             50 non-null     object
 7   fullname           50 non-null     object
 8   earliest           50 non-null     object
 9   latest             50 non-null     object
 10  date               50 non-null     object
 11  sca                50 non-null     int64
 12  scb                50 non-null     int64
 13  event              0 non-null      object
 14  rta_id             50 non-null     float64
 15  rtb_id             50 non-null     float64
dtypes: float64(3), int64(3), object(10)
memory usage: 6.6+ KB

In [34]:
GSLCS_DF.sample(10)

,tag,name_x,race,current_rating_id,romanized_name,eventobj_id,name_y,fullname,earliest,latest,date,sca,scb,event,rta_id,rtb_id
40,ByuN,변현우,T,8228451.0,Byun Hyun Woo,129207,Group C,GSL 2022 Season 1 Code S Group Stage 1 Group C,2022-03-28,2022-03-28,2022-03-28,0,2,NaN,8161604.0,8157149.0
8,NightMare,장욱,P,8228412.0,Jang Wook,129207,Group C,GSL 2022 Season 1 Code S Group Stage 1 Group C,2022-03-28,2022-03-28,2022-03-28,2,1,NaN,8161754.0,8160520.0
14,herO,김준호,P,8228406.0,Kim Joon Ho,129635,Group B,GSL 2022 Season 1 Code S Group Stage 2 Group B,2022-04-14,2022-04-21,2022-04-14,1,2,NaN,8164893.0,8182480.0
15,herO,김준호,P,8228406.0,Kim Joon Ho,129635,Group B,GSL 2022 Season 1 Code S Group Stage 2 Group B,2022-04-14,2022-04-21,2022-04-14,2,1,NaN,8164883.0,8182480.0
6,Rogue,이병렬,Z,8228308.0,Lee Byung Ryul,129634,Group A,GSL 2022 Season 1 Code S Group Stage 2 Group A,2022-04-11,2022-04-18,2022-04-18,1,2,NaN,8175569.0,8182533.0
0,Solar,강민수,Z,8228417.0,Kang Min Soo,129208,Group D,GSL 2022 Season 1 Code S Group Stage 1 Group D,2022-03-31,2022-03-31,2022-03-31,2,1,NaN,8144150.0,8155454.0
2,Zoun,박한솔,P,8207383.0,Park Han Sol,129207,Group C,GSL 2022 Season 1 Code S Group Stage 1 Group C,2022-03-28,2022-03-28,2022-03-28,0,2,NaN,8157149.0,8161604.0
12,RagnaroK,신희범,Z,8207380.0,Shin Hee Bum,129634,Group A,GSL 2022 Season 1 Code S Group Stage 2 Group A,2022-04-11,2022-04-18,2022-04-18,2,0,NaN,8175569.0,8175563.0
4,Zest,주성욱,P,8228447.0,Joo Sung Wook,129206,Group B,GSL 2022 Season 1 Code S Group Stage 1 Group B,2022-03-24,2022-03-24,2022-03-24,2,1,NaN,8161629.0,8144821.0
22,Ryung,김동원,T,8207374.0,Kim Dong Won,129206,Group B,GSL 2022 Season 1 Code S Group Stage 1 Group B,2022-03-24,2022-03-24,2022-03-24,0,2,NaN,8144821.0,8161629.0

In [35]:
import jovian

In [37]:
jovian.commit(project=project_name, filename=project_file)

[jovian] Updating notebook "zoibderg/gsl-season-one-code-s" on https://jovian.ai/
[jovian] Committed successfully! https://jovian.ai/zoibderg/gsl-season-one-code-s

'https://jovian.ai/zoibderg/gsl-season-one-code-s'

## Exploratory Analysis and Visualization

**TODO** - write some explanation here.

> Instructions (delete this cell)
> 
> - Compute the mean, sum, range and other interesting statistics for numeric columns
> - Explore distributions of numeric columns using histograms etc.
> - Explore relationship between columns using scatter plots, bar charts etc.
> - Make a note of interesting insights from the exploratory analysis

Let's begin by importing`matplotlib.pyplot` and `seaborn`.

In [ ]:
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

sns.set_style('darkgrid')
matplotlib.rcParams['font.size'] = 14
matplotlib.rcParams['figure.figsize'] = (9, 5)
matplotlib.rcParams['figure.facecolor'] = '#00000000'

**TODO** - Explore one or more columns by plotting a graph below, and add some explanation about it

**TODO** - Explore one or more columns by plotting a graph below, and add some explanation about it

**TODO** - Explore one or more columns by plotting a graph below, and add some explanation about it

**TODO** - Explore one or more columns by plotting a graph below, and add some explanation about it

**TODO** - Explore one or more columns by plotting a graph below, and add some explanation about it

Let us save and upload our work to Jovian before continuing

In [ ]:
import jovian

In [ ]:
jovian.commit()

## Asking and Answering Questions

TODO - write some explanation here.

> Instructions (delete this cell)
>
> - Ask at least 5 interesting questions about your dataset
> - Answer the questions either by computing the results using Numpy/Pandas or by plotting graphs using Matplotlib/Seaborn
> - Create new columns, merge multiple dataset and perform grouping/aggregation wherever necessary
> - Wherever you're using a library function from Pandas/Numpy/Matplotlib etc. explain briefly what it does

#### Q1: TODO - ask a question here and answer it below

#### Q2: TODO - ask a question here and answer it below

#### Q3: TODO - ask a question here and answer it below

#### Q4: TODO - ask a question here and answer it below

#### Q5: TODO - ask a question here and answer it below

Let us save and upload our work to Jovian before continuing.

In [ ]:
import jovian

In [ ]:
jovian.commit()

## Inferences and Conclusion

**TODO** - Write some explanation here: a summary of all the inferences drawn from the analysis, and any conclusions you may have drawn by answering various questions.

In [ ]:
import jovian

In [ ]:
jovian.commit()

## References and Future Work

**TODO** - Write some explanation here: ideas for future projects using this dataset, and links to resources you found useful.

> Submission Instructions (delete this cell)
> 
> - Upload your notebook to your Jovian.ml profile using `jovian.commit`.
> - **Make a submission here**: https://jovian.ml/learn/data-analysis-with-python-zero-to-pandas/assignment/course-project
> - Share your work on the forum: https://jovian.ml/forum/t/course-project-on-exploratory-data-analysis-discuss-and-share-your-work/11684
> - Share your work on social media (Twitter, LinkedIn, Telegram etc.) and tag [@JovianML](https://twitter.com/jovianml)
>
> (Optional) Write a blog post
> 
> - A blog post is a great way to present and showcase your work.  
> - Sign up on [Medium.com](https://medium.com) to write a blog post for your project.
> - Copy over the explanations from your Jupyter notebook into your blog post, and [embed code cells & outputs](https://medium.com/jovianml/share-and-embed-jupyter-notebooks-online-with-jovian-ml-df709a03064e)
> - Check out the Jovian.ml Medium publication for inspiration: https://medium.com/jovianml

In [ ]:
import jovian

In [ ]:
jovian.commit()